# Created by venv; see https://docs.python.org/3/library/venv.html

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
myenv/
.venv/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db
